In [ ]:
#information_schema
SELECT table_schema, table_name
FROM information_schema.tables

#Have a look at the columns of the table
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_name = 'pg_config';

#Creating tables
CREATE TABLE table_name(
column_a data_type,
column_b data_type
)

    #example
    CREATE TABLE weather(
        clouds text,
        temperature numeric,
        weather_station char(5))

#Alter table
#Add the university_shortname column
ALTER TABLE professors
ADD university_shortname text;

#Drop table
DROP TABLE table_name;

#DISTINCT DATA TO NEW TABLE
SELECT COUNT(*)
FROM university_professors; #ex - 1377

SELECT COUNT(DISTINCT organization)
FROM university_professors; #ex - 1287

#INSERT
INSERT INTO organizations
SELECT DISTINCT organization,
    organization_sector
FROM university_professors; # Output: INSERT 0 1287

INSERT INTO organizations
SELECT organization,
    organization_sector
FROM university_professors; # Output: INSERT 0 1377

#insert into statement 
INSERT INTO table_name (column_a, column_b)
VALUES ("value_a", "value_b");

#Insert unique professors into the new table
INSERT INTO professors 
SELECT DISTINCT firstname, lastname, university_shortname 
FROM university_professors;

#Doublecheck the contents of professors
SELECT * 
FROM professors;

#Affiliations
CREATE TABLE affiliations (
    firstname text,
    lastname text,
    university_shortname text
    function text
    organization text
);

#Rename a column in affiliations
ALTER TABLE table_name
RENAME COLUMN old_name to new_name;

#Drop a column in affiliations
ALTER TABLE table_name
DROP COLUMN column_name;

#Casting
SELECT temperature * CAST(wind_speed AS integer) AS wind_chill
FROM weather;

#change datatype after table creation
ALTER TABLE students
ALTER COLUMN name
TYPE varchar(128)

#new value with new data type
ALTER TABLE students
ALTER COLUMN average_grade
TYPE integer
# turns 5.54 to 6, not 5  before the type conversion
USING ROUND(average_grade)

#specifying data types upon table creation
CREATE TABLE students (
    ssn integer not null,
    name varchar(64) not null,
    dob date,
    average_grade numeric(3, 2), # ex - 5.54
    tuition_paid boolean
    )

ALTER TABLE students
ALTER COLUMN name
TYPE varchar(128);

ALTER TABLE students
ALTER COLUMN average_grade
TYPE integer
#Turns 5.54 into 6 not 5, before type conversion
USING ROUND(average_grade)

#Not null constraint
ALTER TABLE students
ALTER COLUMN home_phone
SET NOT NULL;

ALTER TABLE students
ALTER COLUMN ssn
DROP NOT NULL;

#Unique constraint
CREATE TABLE table_name(
    column_name UNIQUE );

ALTER TABLE table_name
ADD CONSTRAINT some_name UNIQUE(column_name);

#primary key
CREATE TABLE products(
    product_no integer UNIQUE NOT NULL,
    name text.
    price numeric);

CREATE TABLE products(
    product_no integer PRIMARY KEY,
    name text,
    price numeric);

CREATE TABLE example(
    a integer,
    b integer,
    c integer,
    PRIMARY KEY(a, c));

ALTER TABLE table_name
ADD CONSTRAINT some_name PRIMARY KEY (column_name)

#example
-- Create a new table for dim_author with an author column
CREATE TABLE dim_author (
    author varchar(256)  NOT NULL
);

-- Insert authors 
INSERT INTO dim_author
SELECT DISTINCT author FROM dim_book_star;

-- Add a primary key 
ALTER TABLE dim_author ADD COLUMN author_id SERIAL PRIMARY KEY;

-- Output the new table
SELECT * FROM dim_author;

#Adding surrogate key with serial data type
ALTER TABLE cars
ADD COLUMN id serial PRIMARY KEY;
INSERT INTO cars
VALUES ('Volkswagen','Blitz', 'black')

INSERT INTO cars
VALUES ('Opel', 'Astra', 'green', 1) #error - duplicate key value voilates unique constraint "id_key" Detail: Key(id)=(1) already exists

#another type of surrogate key
ALTER TABLE table_name
ADD COLUMN column_c varchar(256);

UPDATE table_name
SET column_c = CONCAT(column_a, column_b);

ALTER TABLE table_name
ADD CONSTRAINT pk PRIMARY KEY (column_c);

#Model 1:N relationships
#specifying foriegn keys
CREATE TABLE manufacturers(
    name varchar(255) PRIMARY KEY);

INSERT INTO manufacturers
VALUES ('Ford'), ('VW'), ('GM');
CREATE TABLE cars(
    model varchar(255) PRIMARY KEY,
    manufacturer_name varchar(255), REFERENCES manufacturers (name));

INSERT INTO cars
VALUES ('Ranger', 'Ford'), ('Beetle', 'VW')

INSERT INTO cars
VALUES ('Tundra', 'Toyota'); #Throws an error

#specifying foriegn keys to existing tables
ALTER TABLE a
ADD CONSTRAINT a_fkey FOREIGN KEY (b_id) REFERENCES b(id);

#Implement N:M relationships
CREATE TABLE affiliations (
    professor_id integer REFERENCES professors (id),
    organization_id varchar(256) REFERENCES organizations (id),
    function varchar(256));

#Dealing with violations
CREATE TABLE a (
    id integer PRIMARY KEY,
    column_a varchar(64),
    ...,
    b_id integer REFERENCES b (id) ON DELETE NO ACTION);

CREATE TABLE a (
    id integer PRIMARY KEY,
    column_a varchar(64),
    ...,
    b_id integer REFERENCES b (id) ON DELETE CASCADE);

    #ON DELETE (NO ACTION, CASCADE, RESTRICT, SET NULL, SET DEFAULT)

In [ ]:
#Database design
How should we organize and manage data?
• Schemas: How should my data be logically organized?
• Normalization: Should my data have minimal dependency and redundancy?
• Views: What joins will be done most often?
• Access control: Should all users of the data have the same level of access
• DBMS: How do I pick between all the SQL and noSQL options?
• and more!
It depends on the intended use of the data.

In [ ]:
OLAP vs. OLTP

        OLTP                             OLAP
Purpose support daily transactions       report and analyze data
Design  application-oriented             subject-oriented
Data    up-to-date, operational          consolidated, historical 
Size    snapshot, gigabytes              archive, terabytes
Queries simple transactions & frequent   complex, aggregate queries & limited updates
        updates
Users   thousands                        hundreds

In [ ]:
#Structuring data
1. Structured data
    • Follows a schema
    • Defined data types & relationships
    _e.g., SQL, tables in a relational database_
2. Unstructured data
    • Schemaless
    • Makes up most of data in the world
    e.g., photos, chat logs, MP3
3. Semi-structured data
    • Does not follow larger schema
    • Self-describing structure
    e.g., NoSQL, XML, JSON
    
#Storing data beyond traditional databases
• Traditional databases
    。 For storing real-time relational structured data ? OLTP
• Data warehouses
    。 For analyzing archived structured data ? OLAP
• Data lakes
    • For storing data of all structures = flexibility and scalability
    • For analyzing big data

In [ ]:
# Data warehouses  # aws redshift Azure SQL Data Warehouse Google Big Query
• Optimized for analytics - OLAP
    • Organized for reading/aggregating data
    • Usually read-only
• Contains data from multiple sources
• Massively Parallel Processing (MPP)
• Typically uses a denormalized schema and dimensional modeling

# Data marts
• Subset of data warehouses
• Dedicated to a specific topic

#Data Warehouses can have # ex - HR, Sales, Marketing, Customer service, Customer, Supply chain

# Data lakes
• Store all types of data at a lower cost.
    。e.g., raw, operational databases, loT device logs, real-time, relational and non-relational
• Retains all data and can take up petabytes
• Schema-on-read as opposed to schema-on-write
• Need to catalog data otherwise becomes a data swamp
• Run big data analytics using services such as Apache Spark and Hadoop
• Useful for deep learning and data discovery because activities require so much data

In [ ]:
# What is database design?
• Determines how data is logically stored
    • How is data going to be read and updated?
• Uses database models: high-level specifications for database structure
    • Most popular: relational model
    • Some other options: NoSQL models, object-oriented model, network model
• Uses schemas: blueprint of the database
    • Defines tables, fields, relationships, indexes, and views
    • When inserting data in relational databases, schemas must be respected

In [ ]:
# Data modeling
Process of creating a data model for the data to be stored
1. Conceptual data model: describes entities, relationships, and attributes
• Tools: data structure diagrams, e.g., entity-relational diagrams and UML diagrams
2. Logical data model: defines tables, columns, relationships
• Tools: database models and schemas, e.g., relational model and star schema
3. Physical data model: describes physical storage
• Tools: partitions, CPUs, indexes, backup systems and tablespaces
    
# Beyond the relational model
Dimensional modeling
Adaptation of the relational model for data warehouse design
• Optimized for OLAP queries: aggregate data, not updating (OLTP)
• Built using the star schema
• Easy to interpret and extend schema

# Elements of dimensional modeling
Organize by:
• What is being analyzed?
• How often do entities change?

# Fact tables
• Decided by business use-case
• Holds records of a metric
• Changes regularly
• Connects to dimensions via foreign keys

# Dimension tables
• Holds descriptions of attributes
• Does not change as often

# Star schema
Dimensional modeling: star schema
Fact tables
• Holds records of a metric
• Changes regularly
• Connects to dimensions via foreign keys
Dimension tables
• Holds descriptions of attributes
• Does not change as often
Example:
• Supply books to stores in USA and Canada
• Keep track of book sales

# Snowflake schema(an extension)

# some fact table, different dimensions
Star schemas: one dimension
Snowflake schemas: more than one
dimension
Because dimension tables are normalized

# What is normalization?
• Database design technique
• Divides tables into smaller tables and connects them via relationships
• Goal: reduce redundancy and increase data integrity
Identify repeating groups of data and create new tables for them

# Normalization
Identify repeating groups of data and create new tables for them
A more formal definition:
The goals of normalization are to:
• Be able to characterize the level of redundancy in a relational schema
• Provide mechanisms for transforming schemas in order to remove redundancy

# Normal forms (NF)
Ordered from least to most normalized:
• First normal form (1NF)
• Second normal form (2NF)
• Third normal form (3NF)
• Elementary key normal form (EKNF)
• Boyce-Codd normal form (BCNF)
• Fourth normal form (4NF)
• Essential tuple normal form (ETNF)
• Fifth normal form (5NF)
• Domain-key Normal Form (DKNF)
• Sixth normal form (6NF)

# 1NF rules
Each record must be unique - no duplicate rows
Each cell must hold one value

# 2NF
• Must satisfy 1NF AND
• If primary key is one column• then automatically satisfies 2NF
• If there is a composite primary key• then each non-key column must be dependent on all the keys# 

# 3NF
• Satisfies 2NF
• No transitive dependencies: non-key columns can't depend on other non-key columns

# Data anomalies
# What is risked if we don't normalize enough?
1. Update anomaly #  Data inconsistency caused by data redundancy when updating
    • Need to update more than one record, otherwise, there will be inconsistency
    • User updating needs to know about redundancy
2. Insertion anomaly    # Unable to add a record due to missing attributes
    • Unable to insert a student who has signed up but not enrolled in any courses
3. Deletion anomaly  #  Deletion of record(s) causes unintentional loss of data
The more normalized the database, the less prone it will be to data anomalies
Don't forget the downsides of normalization from the last video

# Database views
In a database, a view is the result set of a stored query on the data, which the database users can query just as they would in a persistent database collection object (Wikipedia)
Virtual table that is not part of the physical schema
• Query, not data, is stored in memory
• Data is aggregated from data in tables
• Can be queried like a regular database table
• No need to retype common queries or alter schemas

CREATE VIEW scifi_books AS
SELECT title, author, genre 
FROM dim_book_sf
JOIN dim_genre_sf ON dim_genre_sf.genre_id = dim_book_sf.genre_id
JOIN dim_author_sf ON dim_author_sf.author_id = dim_book_sf.author_id
WHERE dim_genre_sf.genre = 'science fiction';

SELECT * FROM scifi_book = # above select code is run

# Viewing views
SELECT * FROM INFORMATION_SCHEMA.views;

SELECT * FROM information_schema.views
WHERE table_schema NOT IN ('pg_catalog', 'information_schema');

Benefits of views
• Doesn't take up storage
• A form of access control
    • Hide sensitive columns and restrict what user can see
• Masks complexity of queries
    • Useful for highly normalized schemas
    
# Managing views  

# Creating more complex views
Aggregation: SUM(), AVG(), COUNT(), MIN(), MAX(), GROUP BY, etc
• Joins: INNER JOIN, LEFT JOIN. RIGHT JOIN, FULL JOIN
• Conditionals: WHERE, HAVING, UNIQUE, NOT NULL AND, OR, >,<, etc
    
# Granting and revoking access to a view
GRANT privilege(s) or REVOKE privilege(s)
ON object
TO role or FROM role
• Privileges: SELECT, INSERT, UPDATE, DELETE, etc
• Objects: table, view, schema, etc
• Roles: a database user or a group of database users

GRANT UPDATE ON ratings TO PUBLIC;

REVOKE INSERT ON films FROM db_user;

# Updating a view
# UPDATE films SET kind = 'Dramatic' WHERE kind = 'Drame'; 

Not all views are updatable
• View is made up of one table
• Doesn't use a window or aggregate function

# Inserting into a view
INSERT INTO films (code, title, did, date_prod, kind)
    VALUES ('T_601', 'Yojimbo', 106, '1961-06-16', 'Drama');
    
# Dropping a view
DROP VIEW view_name [ CASCADE | RESTRICT ];
• RESTRICT (default): returns an error if there are objects that depend on the view
• CASCADE: drops view and any object that depends on that view
    
# Redefining a view
CREATE OR REPLACE VIEW view_name AS new_query

• If a view with view_name exists, it is replaced
• new_query must generate the same column names, order, and data types as the old query
• The column output may be different
• New columns may be added at the end

if these criteria can't be met, drop the existing view and create a new one

# Altering a view
ALTER VIEW [ IF EXISTS ] name ALTER [COLUMN] column_name SET DEFAULT expression 
ALTER VIEW [ IF EXISTS ] name ALTER [COLUMN] column_name DROP DEFAULT
ALTER VIEW [ IF EXISTS ] name OWNER TO new_owner
ALTER VIEW [ IF EXISTS ] name RENAME TO new_name
ALTER VIEW [ IF EXISTS ] name SET SCHEMA new_schema
ALTER VIEW [ IF EXISTS ] name SET (view_option_name [= view_option_value] [, ... ]
ALTER VIEW [ IF EXISTS ] name RESET (view_option_name [, ... ] )
                                   
# Materialized views
Two types of views
    Views
    • Also known as non-materialized views
    • How we've defined views so far
                                   
    Materialized views
    • Physically materialized
                                   
Materialized views
• Stores the query results, not the query
• Querying a materialized view means accessing the stored query results
• Not running the query like a non-materialized view
• Refreshed or rematerialized when prompted or scheduled
                                   
When to use materialized views
• Long running queries
• Underlying query results don't change often
• Data warehouses because OLAP is not write-intensive 。 Save on computational cost of frequent queries
                                   
# Implementing Materialized views
                                   
CREATE MATERIALIZED VIEW my_mv AS SELECT * FROM existing_table;
                                   
REFESH MATERIALEZED VIEW my_mv;
                                   
Managing dependencies
• Materialized views often depend on other materialized views
• Creates a dependency chain when refreshing views
• Not the most efficient to refresh all views at the same time

In [ ]:
# Database Management

# Database roles and access controls
# Granting and revoking access to a view
GRANT privilege(s) or REVOKE privilege(s)
ON object
TO role or FROM role
• Privileges: SELECT, INSERT, UPDATE, DELETE,etc.
• Objects: table, view, schema, etc.
• Roles: a database user or a group of database users
    
GRANT UPDATE ON ratings TO public;
REVOKE INSERT ON films FROM db_user;

Database roles
• Manage database access permissions
• A database role is an entity that contains information that:
    • Define the role's privileges
        • Can you login?
        • Can you create databases?
        • Can you write to tables?
    • Interact with the client authentication system
        • Password
• Roles can be assigned to one or more users
• Roles are global across a database cluster installation

Create a role
• Empty role
CREATE ROLE data_analyst;

• Roles with some attributes set
# CREATE ROLE intern WITH PASSWORD 'Password For Intern' VALID UNTIL '2020-01-01';
CREATE ROLE admin CREATEDB;
ALTER ROLE admin CREATEROLE;

# GRANT and REVOKE privileges from roles
GRANT UPDATE ON ratings TO data_analyst;
REVOKE UPDATE ON retings FROM data_analyst;

The available privileges in PostgreSQL are:
• SELECT, INSERT, UPDATE, DELETE, TRUNCATE, REFERENCES, TRIGGER, CREATE, CONNECT, TEMPORARY, EXECUTE, and USAGE

Users and groups (are both roles)
• A role is an entity that can function as a user and/or a group
    • User roles
    。 Group roles
    
GROUP Role
CREATE ROLE data_analyst;

USER  Role
CREATE ROLE alex WITH PASSWORD 'PasswordforIntern' VALID UNTIL '2020-01-01';
GRANT data_analyst TO alex;
REVOKE data_analyst FROM alex;

Common PostgreSQL roles
Role                     Allowed access
pg_read_all_settings     Read all configuration variables, even those normally visible only to superusers.
pg_read_all_stats        Read all pg_stat_* views and use various statistics related extensions, even those normally visible only to superusers.
pg_signal_backend        Send signals to other backends (eg: cancel query, terminate).
More...                  More...

Benefits and pitfalls of roles
Benefits
• Roles live on after users are deleted
• Roles can be created before user accounts
• Save DBAs time
Pitfalls
• Sometimes a role gives a specific user too much access 
    。 You need to pay attention
    
# Table partitioning
Why partition?
Tables grow (100s Gb/Tb)
Problem: queries/updates become slower
Because: e.g., indices don't fit memory
Solution: split table into smaller parts (= partitioning)
    
Data modeling refresher
1. Conceptual data model
2. Logical data model
For partitioning, logical data model is the same
3. Physical data model
Partitioning is part of physical data model

# Vertical partitioning - Column wise split
# Horizontal Partitioning  - Row wise split

Pros/cons of horizontal partitioning
Pros
• Indices of heavily-used partitions fit in memory
• Move to specific medium: slower vs. faster
• Used for both OLAP as OLTP
Cons
•
Partitioning existing table can be a hassle
• Some constraints can not be set

#Horizontal partitioning example
CREATE TABLE sales (
    ,,,
    timestamp DATE NOT NULL)
PARTITION BY RANGE (timestamp);

CREATE TABLE sales_2019_q1 PARTITION OF sales
    FOR VALUES FROM ('2019-01-01') TO ('2019-03-31');
...
CREATE TABLE sales_2019_q4 PARTITION OF sales
    FOR VALUES FROM ('2019-09-01') TO ('2019-12-31');
CREATE INDEX ON sales ('timestamp');

# Data Integration
Data integration combines data from different sources, formats, technologies to provide users with a translated and unified view of that data.

Business case examples
• 360-degree customer view
• Acquisition
• Legacy systems

Choosing a data integration tool
• Flexible
• Reliable
• Scalable

DBMS
• DBMS: DataBase Management System
• Create and maintain databases
• Data
• Database schema
• Database engine
• Interface between database and end users

DBMS types
• Choice of DBMS depends on database type
• Two types:
    • SQL DBMS
    • NoSQL DBMS
    
SQL DBMS
• Relational DataBase Management System
(RDBMS)
• Based on the relational model of data
• Query language: SQL
• Best option when:
    • Data is structured and unchanging
    • Data must be consistent
    
NoSQL DBMS
• Less structured
• Document-centered rather than table-centered
• Data doesn't have to fit into well-defined rows and columns
• Best option when:
    • Rapid growth
    • No clear schema definitions
    • Large quantities of data
• Types: key-value store, document store, columnar database, graph database
    
NoSQL DBMS-key-value store
• Combinations of keys and values
    • Key: unique identifier
    • Value: anything
• Use case: managing the shopping cart for an on-line buyer
    #ex - redis
    
NoSQL DBMS - document store
• Similar to key-value
• Values (= documents) are structured
• Use case: content management
    #ex - mongodb
    
NoSQL DBMS - columnar database
• Store data in columns
• Scalable
• Use case: big data analytics where speed is important
    #ex - cassandra

NoSQL DBMS - graph database
• Data is interconnected and best
• represented as a graph
• Use case: social media data, recommendations

    #ex - neo4j